{% extends "base.html" %}

{% block content %}
{% load widget_tweaks %}

<div class="container wrapper flex-grow-1">
    <h1 class="my-4">Восстановление пароля</h1>
    <h3>Введите ваш email, чтобы получить на него ссылку для восстановления пароля</h3>
    <form action="{% url 'users:restore_password_request' %}" method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label" for="{{ form.email.id_for_label }}">Email</label>
            {% if form.email.errors %}
            {{ form.email|add_class:"is-invalid" }}
            <div class="invalid-feedback">
                {{ form.email.errors }}
            </div>
            {% else %}
            {{ form.email }}
            {% endif %}
        </div>


        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <div class="d-grid">
            <input class="btn btn-primary" type="submit" value="Восстановить пароль">
        </div>
    </form>
    <div class="container d-flex justify-content-center align-items-center wrapper mt-2">
        <a href="{% url 'users:login' %}" class="nav-link">Назад</a>
    </div>
</div>

{% endblock  %}