<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запрос на восстановление пароля</title>
</head>
<body>
    <p>Здравствуйте,</p>
    <p>Мы получили запрос на восстановление пароля. Нажмите на ссылку ниже, чтобы установить новый пароль:</p>
    <p>
        <a href="{{ protocol|escape }}://{{ domain|escape }}{% url 'users:restore_password' uidb64=uid|escape token=token|escape %}">Восстановить пароль</a>
    </p>
    <p>Ссылка действительна в течение 1 часа.</p>
    <p>Если ссылка не работает, скопируйте и вставьте этот URL в адресную строку вашего браузера:</p>
    <p>{{ protocol|escape }}://{{ domain|escape }}{% url 'users:restore_password' uidb64=uid|escape token=token|escape %}</p>
    <p>Если вы не запрашивали восстановление пароля, просто проигнорируйте это письмо.</p>
</body>
</html>
